#homeGreeting{
	font-size: 130%;
	font-weight: bold;
}

#newTaskTextField{
	width: 300px;
	display: inline;
}

#taskSearchText{
	width: 400px;
}

#issueContainer{
	margin-top: 40px;
	margin-bottom: 40px;
}

#taskDoneStyle{
	text-decoration: line-through;
	color: gray;
	font-weight: normal;	
}

#taskUndoneStyle{
	color: black;
	font-weight: bold;
}

#expirationDateLabelStyle{
	
}

#expirationDatePickerStyle{
	border: none;
}

.unclickableArea{
	pointer-events: none;
}

