#addTaskContainer{
	margin-bottom: 30px;
}

#homeGreeting{
	font-size: 130%;
	color: #5B6567;
	text-align: center;
}

#searchTaskContainer{
	margin-top: 0;
	margin-bottom: 50px;
}

#emptyFIeldErrorContainer{
	margin-bottom: 0;	
}

#errorMsg{
	margin-top: 10px;
	color: red;
	visibility: hidden;
}

#newTaskTextField{
	width: 300px;
	display: inline;
}

#taskSearchText{
	width: 300px;
}

#issueContainer{
	margin-top: 40px;
	margin-bottom: 40px;
}

#taskDoneStyle{
	text-decoration: line-through;
	color: gray;
	font-weight: normal;	
	width: 20px;
}

#taskUndoneStyle{
	color: black;
	font-weight: bold;
	width: 20px;
}

#taskExpiredStyle{
	font-weight: normal;
	color: red;
}

#expirationDatePickerStyle{
	border: none;
}

.unclickableArea{
	pointer-events: none;
}

#saveChangesButtonStyle{
	margin-top: 8px;
}

#deleteTaskButtonStyle{
	margin-top: 8px;
}

