#loginFormStyle{
	margin-left: 50px;
}

#userName{
	margin-left: 35px;
}

#loginPassword{
	margin-left: 43px;
}

#loginButton{
	margin-top: 20px;
	margin-left: 55px;
}

#loginErrorContainer{
	width: 150px;
	margin-left: 15px;
	color: red;
	margin-left: 15px;
	margin-top: 20px;
}

